<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<i class="fa fa-envelope-o fa-3x icon-muted"></i>
				<h2>Contact</h2>
				<a href="" target="_blank"><i class="fa fa-weibo"></i></a>
				<br />
			</div>
			<div class="col-md-6">
				<i class="fa fa-globe fa-3x icon-muted"></i>
				<h2>加入我们</h2>
				<a href="">Github</a> / <a href="">QQ 群</a>
			</div>
		</div>
	</div>
	
	<div class="footer-leanote">
		Copyright © <a href="">Leanote</a>
		<br/>
		Proudly powered by <a href="">Leanote</a>
	</div>
	
</div>


